<div class="left">
    <span>
        <a href="">
            <fa-icon [icon]="icon_G"></fa-icon>&nbsp;&nbsp;|&nbsp;&nbsp;
        </a>
        <a href="https://twitter.com/jorian1">
            <fa-icon [icon]="icon_X"></fa-icon>&nbsp;&nbsp;|&nbsp;&nbsp;
        </a>
        <a href="https://www.facebook.com/profile.php?id=61552015615849">
            <fa-icon [icon]="icon_F"></fa-icon>
        </a>
    </span>
</div>
<div class="right">
    <span><fa-icon [icon]="icon_Copyright"></fa-icon> {{ copyrightDate | date: 'yyyy'}}&nbsp;&nbsp;|&nbsp;&nbsp;Smart Software Development for Enterprises (SSDE)</span>
</div>
