<div class="text-centered">
  <div class="container-fluid title font-green">
    <span class="display-1">Smart Software Development for Enterprises</span>
  </div>
  <div class="container-fluid title font-purple">
    <span class="display-7">Quieres crear una página web para tu negocio y no sabes como?</span>
  </div>
  <div class="container-fluid title font-blue">
    <span class="display-7">Te gustaría automatizar la gestión tu negocio pero ningún programa que hay se ajusta a tus necesidades?</span>
  </div>
  <div class="container-fluid title font-red">
    <span class="display-7">Tienes una idea en mente de lo que te gustaría hacer pero no sabes como hacerlo?</span>
  </div>
  <hr class="my-4">
  <div class="container-fluid title font-green">
    <span class="display-7">Te invito a que me conozcas, tengo una amplia variedad de soluciones, podemos integrar la facturación electrónica a las aplicaciones que se desarrollen para ti</span>
  </div>
  <div class="container-fluid title font-blue">
    <span class="display-7">Llámanos, hablaremos de tu proyecto y de como se puede hacer una implementación, visita nuestra sección de contacto para agendar una cita.</span>
  </div>
</div>
