<div class="text-centered">
  <div class="container-fluid title font-green">
    <h1 class="display-1">Smart Software Development for Enterprises</h1>
  </div>
  <div class="container-fluid title font-purple">
    <h2 class="display-6">Quieres crear una página web para tu negocio y no sabes como?</h2>
  </div>
  <div class="container-fluid title font-blue">
    <h2 class="display-6">Te gustaría automatizar la gestión tu negocio pero ningún programa que hay se ajusta a tus necesidades?</h2>
  </div>
  <div class="container-fluid title font-red">
    <h2 class="display-6">Tienes una idea en mente de lo que te gustaría hacer pero no sabes como hacerlo?</h2>
  </div>
  <hr class="my-4">
  <div class="container-fluid title font-green">
    <h3 class="display-6">Te invito a que me conozcas, tengo una amplia variedad de soluciones, podemos integrar la facturación electrónica a las aplicaciones que se desarrollen para ti</h3>
  </div>
  <div class="container-fluid title font-blue">
    <h3 class="display-6">Llámanos, hablaremos de tu proyecto y de como se puede hacer una implementación, visita nuestra sección de contacto para agendar una cita.</h3>
  </div>
</div>
