<div class="left">
    <span>
        <img src="assets/images/SSDE_cloud_gears_long.png" height="50px">
    </span>
</div>
<div class="right">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <span class="nav-link" routerLink="/" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_Home"></fa-icon> | Inicio
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link" routerLink="contact" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_Contact"></fa-icon> | Contacto
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link" routerLink="posts" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_Blog"></fa-icon> | Blog
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link" routerLink="about" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_About"></fa-icon> | Qui&eacute;n soy?
            </span>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
            <span class="nav-link" routerLink="login" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_Login"></fa-icon> | Login
            </span>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <span class="nav-link" routerLink="profile" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_Login"></fa-icon> | {{username}}
            </span>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <span class="nav-link" (click)="logout()">
                <fa-icon [icon]="icon_Logout"></fa-icon> | Log Out
            </span>
        </li>
    </ul>
</div>
