<div class="container font-green">
  <h1 class="display-4 text-center title">
    Hola! Bienvenidos!
  </h1>
  <div class="display-0 container-fluid text-center">
    <p>Mi nombre es Jorge Rivera. Soy el propietario de Smart Software Development for Enterprises.</p>
    <p>
    Soy un Ingeniero de Software, lo he sido por alrededor de {{experience}}+ años. Actualmente trabajo con tecnologías Python y Java,
    tengo una vasta experiencia trabajando con servicios y aplicaciones web, los últimos {{seniority}} años he trabajado con aplicaciones web como desarrollador
    full stack (front-end y back-end) entre las diferentes tecnologías y/o Frameworks con las que he trabajado se encuentran jQuery, AngularJS,
    Angular, React, Liferay, Struts 2, Hibernate, Spring y Google Cloud Platform
    </p>
    <hr>
  </div>
</div>
