<div class="left">
    <span>
        <img src="assets/images/SSDE_cloud_gears_long.png" height="50px">
    </span>
</div>
<div class="right">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <span class="nav-link" routerLink="/" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_Home"></fa-icon> | Inicio 
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link" routerLink="contact" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_Contact"></fa-icon> | Contacto
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link" routerLink="about" routerLinkActive="['nav-item-active']">
                <fa-icon [icon]="icon_About"></fa-icon> | Qui&eacute;n soy?
            </span>
        </li>
    </ul>
</div>
