$header-bg: #ffffff;
$header-color: #000033;
$footer-bg: #810081;
$footer-color: #ffffff;
$content-bg: #ffffff;
$content-color1: #23b423;
$content-color2: #810081;
$content-color3: #000033;
$content-color4: #e60000;

.header {
    position: fixed;
    min-height: 80px;
    width: 100%;
    padding: 15px 5%;
    top: 0px;
    color: $header-color;
    background: $header-bg;
    z-index: 10;
}

.content {
    background: $content-bg;
    position: relative;
    width: 90%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 0;
}

.footer {
    background: $footer-bg;
    color: $footer-color;
    position: fixed;
    min-height: 50px;
    width: 100%;
    bottom: 0px;
    padding: 15px 5%;
    z-index: 10;
}

.text-centered {
    text-align: center;
}

.font-green {
    color: $content-color1;
}

.font-purple {
    color: $content-color2;
}

.font-blue {
    color: $content-color3;
}

.font-red {
    color: $content-color4;
}

.envelope {
    mask: url('../assets/icons/envelope.svg') no-repeat 50% 50%;
    -webkit-mask: url('../assets/icons/envelope.svg') no-repeat 50% 50%;
    background-color: $content-color3;
    width: 70px;
    height: 70px;
}

.cellphone {
    mask: url('../assets/icons/cellphone.svg') no-repeat 50% 50%;
    -webkit-mask: url('../assets/icons/cellphone.svg') no-repeat 50% 50%;
    background-color: $content-color2;
    width: 70px;
    height: 70px;
}

.message {
    mask: url('../assets/icons/mensaje.svg') no-repeat 50% 50%;
    -webkit-mask: url('../assets/icons/mensaje.svg') no-repeat 50% 50%;
    background-color: $content-color4;
    width: 70px;
    height: 70px;
}

.whatsapp {
    mask: url('../assets/icons/whatsapp.svg') no-repeat 50% 50%;
    -webkit-mask: url('../assets/icons/whatsapp.svg') no-repeat 50% 50%;
    background-color: $content-color1;
    width: 70px;
    height: 70px;
}

.fa-facebook {
  mask: url('../assets/icons/facebook.svg') no-repeat 50% 50%;
  -webkit-mask: url('../assets/icons/facebook.svg') no-repeat 50% 50%;
  background-color: $footer-color;
  width: 20px;
  height: 20px;
}

.fa-linkedin {
  mask: url('../assets/icons/linkedin.svg') no-repeat 50% 50%;
  -webkit-mask: url('../assets/icons/linkedin.svg') no-repeat 50% 50%;
  background-color: $footer-color;
  width: 20px;
  height: 20px;
}

.fa-twitter {
  mask: url('../assets/icons/x.svg') no-repeat 50% 50%;
  -webkit-mask: url('../assets/icons/x.svg') no-repeat 50% 50%;
  background-color: $footer-color;
  width: 20px;
  height: 20px;
}

.list-group {
  padding-left: 15px;
}

.title {
    padding: 40px;
}

svg {
    fill: inherit;
}
