/* You can add global styles to this file, and also import other style files */
$header-bg: #ffffff;
$header-color: #000033;
$footer-bg: #810081;
$footer-color: #ffffff;
$content-bg: #ffffff;
$content-color1: #23b423;
$content-color2: #810081;
$content-color3: #000033;
$content-color4: #e60000;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
